/vendor
/.idea
/storage/logs
/public/galleries
/storage/app/galleries/*
!/storage/app/galleries/sample_gallery/
/public/index.html
/node_modules
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
