@import '~bootstrap-4-grid/scss/grid';

$white: #ffffff;
$black: #000000;
$body-color: #eeeeee;
$cover-text-color: #eeeeee;
$bg-color: #222222;
$link-color: #b56ed8;
$card-link-color: #fff;
$base-font-size: 20px;
$base-line-height: 1.55rem;
$center-cover-text: false;
$border-radius: .2rem;;

::selection {
    background-color: desaturate(lighten($link-color, 5%), 35%);
}

//html,
//body {
//    font-family: 'Merriweather', serif;
//    margin: 0;
//    padding: 0;
//    background-color: $bg-color;
//    font-size: $base-font-size;
//    line-height: $base-line-height;
//    color: $body-color;
//}

//div.cover {
    //> img {
    //    width: 100%;
    //}

    //> div.cover-text {
        //position: absolute;
        //padding: 1rem 2rem;
        //color: $cover-text-color;
        //background-color: rgba(0, 0, 0, .25);
        //text-shadow: 4px 4px 2px rgba(125, 125, 125, 1);

        //@if ($center-cover-text) {
        //    top: 50%;
        //    left: 50%;
        //    transform: translate(-50%, -50%);
        //}

        //@include media-breakpoint-only(xl) {
        //    font-size: 5rem;
        //}

        //@include media-breakpoint-only(lg) {
        //    font-size: 3rem;
        //}

        //@include media-breakpoint-only(md) {
        //    font-size: 2rem;
        //}

        //@include media-breakpoint-only(sm) {
        //    font-size: 1.5rem;
        //}
    //}
//}

//div.gallery {
//    text-align: center;
//
//    img {
//        max-width: 100%;
//    }
//}

.list-style-none {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.btn {
        margin-bottom: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        display: inline-block;
        border: 1px solid rgba($link-color, .15);
        border-radius: $border-radius;
        transition: all 150ms linear;

        &:hover {
            text-decoration: none;
            color: $white;
            background-color: $link-color;
        }

        &:focus {
            color: $white;
            background-color: lighten($link-color, 10%);
        }
    }

    &.btn-block {
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .flex {
        display: flex;
        flex-direction: row;

        img {
            align-self: flex-start;
            max-width: 45% !important;
        }

        > * {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }

    .flex-reverse {
        @extend .flex;

        flex-direction: row-reverse;
    }
}

//.gallery-list {
//    div.gallery-item {
//        background-size: 100%;
//        background-position: center;
//        overflow: hidden;
//        height: 7.5rem;
//        margin-bottom: .75rem;
//        border-radius: $border-radius;
//
//        a {
//            color: $white;
//            padding: 0;
//            height: inherit;
//            border: 2px solid rgba($card-link-color, .1);
//            transition: all 200ms;
//
//            &:hover {
//                border-color: rgba($card-link-color, .2);
//                background-color: rgba($card-link-color, .25);
//            }
//
//            &:focus {
//                background-color: rgba($card-link-color, .4);
//            }
//        }
//
//        div.title {
//            width: 101%;
//            padding-left: .5rem;
//            padding-right: .5rem;
//            padding-top: .25rem;
//            padding-bottom: .25rem;
//            margin-top: -1px;
//            margin-left: -1px;
//            text-shadow: 2px 2px 2px rgba($black, .5);
//        }
//    }
//}

@include media-breakpoint-up(lg) {
    .floating-right {
        img {
            padding-left: 1rem;
            padding-top: .25rem;
            padding-bottom: 1rem;
            float: right;
            width: 45%;
        }
    }

    .floating-left {
        img {
            padding-right: 1rem;
            padding-top: .25rem;
            padding-bottom: 1rem;
            float: left;
            width: 45%;
        }
    }
}

@include media-breakpoint-up(md) {
    .text-prominent {
        margin-top: -100px;
        background-color: $bg-color;
        position: relative;
        padding-top: 1rem;

        > p:first-child {
            margin-top: 0;
        }
    }
}
